<a href="https://colab.research.google.com/github/jwashb22/redfin_scraper/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('real_estate.csv')

In [3]:
df = df[df['baths'] != 'â€” baths']
df = df.drop('Unnamed: 0', axis=1)

In [4]:
df['address1'] = df['address']

In [7]:
df[['address', 'city', 'zip_code']] = df['address1'].str.split(',', expand=True)

In [11]:
df = df.drop('address1', axis=1)

In [17]:
df['zip_code'] = df['zip_code'].str.replace('UT ', '', regex=True)

In [20]:
df.to_csv('cleaned_real_estate.csv')